.page {
    height: 1000px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EBF2FA;
}


.nav {
  background-color: #064789;
  color: white;
  padding: 15px 40px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.title-wrapper {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.logo-wrapper {
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url(images/logo.png);
    display: flex;
    left: 95%;
    position: relative;
    z-index: 10;
    height: 55px;
    width: 55px;
}

.menu {
  font-size: 26px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.intro {
  font-size: 42px;
  color: #064789;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
}

.intro-wrapper {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.column {
  background-color: #427AA1;
  color: white;
  padding: 40px;
  border-radius: 12px;
  width: 260px;
  transition: transform 0.3s ease;
}

.column:hover {
  transform: translateY(-8px);
}

.divider {
  width: 2px;
  height: 160px;
  background-color: #064789;
}

.btn {
  margin-top: 20px;
  padding: 10px 22px;
  background-color: #EBF2FA;
  color: #064789;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.a:btn {
    text-decoration: none;
}

.btn:hover {
  background-color: #064789;
  color: white;
}

.about {
  background-color: #064789;
  color: white;
  padding: 50px 20px;
  margin-top: 80px;
  text-align: center;
  position: inherit;
  bottom: 0;
  height: 140px;
  width: 100%;
}

.paragraph-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 50px;        
    padding: 0 20px;           
}

.paragraph {
    max-width: 800px;      
    text-align: center;       
    font-size: 18px;
    line-height: 1.7;
    color: #064789;
}